.firstVbox{
	margin-left:12%;
	margin-top:2%;
}
.secondVbox{
	margin-left:15%;
	margin-top:2%;
}
.thirdVbox{
	margin-left:15%;
	margin-top:2%;
}
.masterHead
{
	color:black;
	background-color:blue;
}
.border{
	border-style:none;
}